body {
    margin-top: 0;
}

text {
    font-family: "Fira Sans", sans-serif;
}


#documentImageArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.sectionHeaderArea {
    position: sticky;
    top: 109px;
    padding-top: 25px;
    width: 100%;
    background-color: white;
}

.sectionTitle {
    display: flex;
    /*position: sticky;*/
    /*top: 120px;*/
    justify-content: center;
    width: 100%;
    color: slategray;
    font-family: "Bebas Neue", cursive;
    font-size: 3em;
    /*margin-top: 35px;*/
    border-bottom: #2b2b2b solid 1px;
    border-bottom-style: dashed;
    background-color: white;
}

.sectionInstruction {
    display: flex;
    justify-content: center;
    /*position: sticky;*/
    /*top: 185px;*/
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 35px;
    color: slategray;
    font-size: 1.4em;
    background-color: white;
}

.sectionImageArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    background-color: white;
    /*border: slategray 1px solid;*/
    /*border-radius: 15px;*/
    padding: 20px;

}

.imageFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 200px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 3px;
}

.imageFrame:hover {
    border-color: lightgray;
}

.selected {
    border-color: darkseagreen;
    border-width: medium;
}

.selected:hover {
    border-color: dimgray;
    border-width: medium;
}

.image {
    max-height: 200px;
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.surrender.image { /*surrender images overflow horizontally otherwise*/
    max-width: 200px;
}

.overlayMessageContainer {
    display: flex;
    justify-content: center;
}

.overlayMessage {
    visibility: hidden;
    position: fixed;
    top: 45%;
    width: 550px;
    text-align: center;
    z-index: 999;
    padding: 25px;
    border-radius: 10px;
    border: #2b2b2b 2px solid;
    font-size: 1.7em;
    color: whitesmoke;
    background-color: rgba(75, 71, 72, 0.85);
    /*animation: pulse 2s;*/
    opacity: 0;
    animation: pulse 5s;
}

@keyframes pulse {
    0% {opacity: 0; visibility: visible;}
    30% {opacity: 1; visibility: visible;}
    70% {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}
}
