text {
    font-family: "Fira Sans", sans-serif;
}

#topNavBar {
    position: sticky;
    z-index: 999;
    background-color: lightgray;
    top: 0;
    margin-bottom: 50px;
    padding: 1.3em;
    border-style: solid;
    border-color: darkgray;
    border-width: thin;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#topNavBarFirstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#topNavBarSecondRow {
    height: 10px;
}

.navbarElement {
    margin-top: 10px;
    margin-bottom: 10px;
}

#titleText {
    font-family: "Chakra Petch", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px 0 0 0;
    color: dimgray;
}

#versionText {
    color: #777620;
    margin: 0;
    font-family: "Courier New", monospace;
    font-size: small;
}

.navbarElementLabel {
    color: slategray;
    font-size: large;
    margin-right: 5px;
}

/* Dropdown */
.dropdownMenuContainer {
    display: flex;
    align-items: center;

}

.dropdownMenu {
    width: max-content;
    height: 52px;
    padding: 12px 20px;
    color: slategray;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    font-size: large;
    text-align-last: center;
}

#idInput {
    color: slategray;
    font-size: large;
    width: 55px;
    height: 48px;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    text-align-last: center;
}


.counterArea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: slategray;
    font-size: large;
    height: 50px;
    width: 9%;
    min-width: 125px;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.counterArea.noneSelected {
    background-color: inherit;
}

.counterArea.someSelected {
    background-color: rgba(234, 232, 112, 0.92);
}

.counterArea.selectionLimitReached {
    background-color: rgba(169, 234, 160, 0.92);
}

#downloadButton {
    font-size: large;
    height: 52px;
}

#downloadButton:enabled {
    animation: anim-glow 1s ease infinite;
    box-shadow: 0 0 15px black;
}


#progressBar {
    visibility: hidden;
    width: 100%;
}


#conditionDropdown {
    /* Disable arrow keys in dropdown menu for Firefox */
    -moz-appearance: none;
    /* Disable arrow keys in dropdown menu for Chrome */
    -webkit-appearance: none;
    margin-right: 5px;

}

#groupNumberSpan {
    border-bottom: #2b2b2b 1px dotted;
}

/* Disable arrow keys in dropdown menu for IE10 */
#conditionDropdown::-ms-expand {
    display: none;
}

@keyframes anim-glow {
    0% {
        box-shadow: 0 0 green;
    }
    100% {
        box-shadow: 0 0 10px 8px transparent;
        border-width: 2px;
    }
}